{{!-- NAV BEGINS --}}
<nav>

  {{!-- NAV CONTAINER BEGINS --}}
  <div class="nav-content">

    {{!-- NAV LOGO BEGINS --}}
    <div class="nav-logo"><a href="/search"><img src="/images/orange-logo.png" style="height: 100%"></a></div>
    {{!-- END OF NAV LOGO --}}

    {{!-- NAV SEARCH BAR BEGINS --}}
    <div class="nav-search">
      <form action="/search" method="POST">
        <input type="text" id="search" name="q" autocomplete="off">
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
    {{!-- END OF NAV SEARCH BAR --}}

    {{!-- NAV LINKS BEGIN // Profile photo/display name are removed --}}
    <div class="reduced-nav-links">
      <div class="nav-icons">
        <button id="toggle-theme" class="nav-icon" alt="Toggle Theme"><i class="fas fa-adjust"></i></button>
        <a href="/logout" class="nav-icon" alt="Log Out"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
    {{!-- END OF NAV LINKS --}}

  </div>
  {{!-- END OF NAV CONTAINER --}}

</nav>
{{!-- END OF NAV --}}

{{!-- MAIN BLOCK BEGINS // Labeled secondary block for profile/sample details pages --}}
<div class="secondary-block">

  {{!-- HEADER BEGINS --}}
  {{#with producerDetails}}
  <div class="header" {{#if bgImg }} style="background-image: url({{bgImg}})" {{/if}}>
    ​
    {{!-- HEADER PROFILE PHOTO BEGINS --}}
    <div class="photo-area">

      {{!-- IF PHOTO HAS BEEN CHOSEN, SHOW, ELSE SHOW DEFAULT GRADIENT --}}
      {{#if imgPath}}
      <img src="{{imgPath}}"
        style="margin-top: 44px; margin-bottom: 22px; padding: 0; width: 200px; height: 200px; border-radius: 50%;">
      {{else}}
      <div class="header-photo"></div>
      {{/if}}

    </div>
    {{!-- ​END OF HEADER PROFILE PHOTO --}}

    {{!-- HEADER USER INFO BEGINS --}}
    <div class="header-info">

      {{!-- IF DISPLAY NAME HAS BEEN CHOSE, SHOW, ELSE SHOW USERNAME --}}
      {{#if artisticName}}
      <div class="h1-profile">{{artisticName}}</div>
      {{else}}
      <div class="h1-profile">{{username}}</div>
      {{/if}}

      {{!-- IF LOCATION HAS BEEN ADDED SHOW, ELSE LEAVE AREA BLANK --}}
      {{#if soundUrl}}
      <div class="h2-profile">{{soundUrl}}</div>
      {{else}}
      {{/if}}
    </div>
    {{!-- END OF HEADER USER INFO --}}​
    <div style="width:160px"> ​​
      <button data-modal="editBackground" class="button bgButton clear-button"
        style='margin-top: 40px; height: 20px; margin-right: 10px'>Edit background</button>
    </div>
  </div>
  {{/with}}
  {{!-- END OF HEADER --}}

  {{!-- PROFILE BLOCK BEGINS --}}
  <div class="profile">

    {{!-- PROFILE NAV BEGINS --}}
    <div class="secondary-nav">
      <div class="links">
        <ul>
          <li><a href="#">All</a></li>
          <li><a href="#">Popular tracks</a></li>
          <li><a href="#">Tracks</a></li>
          <li><a href="#">Album</a></li>
          <li><a href="#">Playlists</a></li>
          <li><a href="#">Reposts</a></li>
          <li><a href="/producerProfile">Samples</a></li>
          <li><a href="/producerProfile/likedSamples" class="current">Liked Samples</a></li>
          <li><a href="/producerProfile/savedSamples">Saved Samples</a></li>
        </ul>
      </div>

      {{!-- EDIT PROFILE MODAL BEGINS --}}
      {{#with producerDetails}}
      <button class="button clear-button" data-modal="editProducer">Edit</button></a>

      <div id="editProducer" class="modal-bg">
        <div class="modal-block">

          {{!-- EDIT PROFILE FORM BEGINS --}}
          <form action="/producerProfile/edit" method="POST" enctype="multipart/form-data">

            <div class="modal-heading">
              <div class="title">Edit your Profile</div>
              <div class="close">&times;</div>
            </div>

            <div class="modal-content">
              <div class="media">

                {{!-- IF A PROFILE PHOTO HAS BEEN UPLOADED SHOW, ELSE SHOW DEFAULT PHOTO GRADIENT --}}
                {{#if imgPath}}
                <img src="{{imgPath}}"
                  style="margin: 20px 0; padding: 0; max-width: 200px max-height: 200px; border-radius: 50%;">
                {{else}}
                <div class="photo"></div>
                {{/if}}

                <label for="avatar"></label>
                <input type="file" name="avatar" id="avatar" value="{{imgName}}" style="margin: 20px; width: 90px;">
              </div>

              <div class="info">
                <label for="artisticName">Display Name:</label>
                <input type="text" name="artisticName" id="artisticName" autocomplete="off">

                <label for="soundUrl">Location:</label>
                <input type="text" name="soundUrl" id="soundUrl" autocomplete="off">

                <label for="description">Description:</label>
                <textarea name="description" id="description" autocomplete="off">{{description}}</textarea>

              </div>
            </div>

            <div class="modal-save"><button type="submit">Save</button></div>

          </form>
          {{!-- END OF EDIT PROFILE FORM --}}

        </div>

      </div>
      {{/with}}
      {{!-- END OF EDIT PROFILE MODAL --}}

    </div>
    {{!-- END OF PROFILE NAV --}}

    {{!-- PROFILE CONTENT BEGINS --}}
    <div class="profile-content">

      {{!-- PROFILE MEDIA BEGINS --}}
      <div class="profile-media">

        <div class="empty-profile">
          <h1>No liked samples yet...</h1>
        </div>

      </div>
      {{!-- END OF PROFILE MEDIA --}}

      {{!-- SIDE FOOTER BEGINS --}}
      <div class="footer">

        {{#with producerDetails}}

        {{!-- IF A BIO HAS BEEN ADDED, SHOW, ELSE LEAVE BLANK --}}
        {{#if description}}
        <div class="bio">
          <p>{{description}}</p>
        </div>
        {{else}}
        {{/if}}

        {{/with}}

        <div class="footer-links">
          <a href="#">Legal</a>&nbsp;-
          <a href="#">Privacy</a>&nbsp;-
          <a href="#">Cookie Policy</a>&nbsp;-
          <a href="#">Cookie Manager</a>&nbsp;-
          <a href="#">Imprint</a>&nbsp;-
          <a href="#">Creator Resources</a>&nbsp;-
          <a href="#">Blog</a>&nbsp;-
          <a href="#">Charts</a>&nbsp;-
          <a href="#">Popular searches</a>
        </div>

        <div class="footer-language">
          <span style="color:#4988D7">Language:</span> English (UK)
        </div>

      </div>
      {{!-- END OF SIDE FOOTER --}}

    </div>
    {{!-- END OF PROFILE CONTENT --}}

  </div>
  {{!-- END OF PROFILE BLOCK --}}

</div>
{{!-- END OF MAIN BLOCK --}}
<div id="editBackground" class="modal-bg">
  <div class="modal-block">
    <form action="/producerProfile/editBG" method="POST" enctype="multipart/form-data">
      <div class="modal-heading">
        <div class="title">Edit your background</div>
        <div class="close">&times;</div>
      </div>
      <div class="modal-content">
        <div class="media">

          {{#with producerDetails}}
          {{#if bgImg}}
          <img src="{{bgImg}}" style="margin: 20px 0; padding: 0; width:600px;">
          {{else}}
          <div class="photo" style="width: 600px; border-radius:0"></div>
          {{/if}}
          <input type="file" name="bgImg" id="bgImg" value="{{imgName}}">
          <div class="modal-save"><button type="submit">Upload</button></div>
          {{/with}}
        </div>
    </form>
  </div>
</div>