<h1>Sample Details</h1>
{{#with trackDetails}}
<img src="{{imgPath}}" alt="">
<h1>{{title}}</h1>
<p>{{description}}</p>
<figure>
  <audio controls src="{{filePath}}">
    Your browser does not support the
    <code>audio</code> element.
  </audio>
</figure>
<a href="/profileDetails/{{owner._id}}">Check the work of: {{owner.artisticName}}</a>
{{/with}}