{{!-- NAV BEGINS --}}
<nav>
	
	{{!-- NAV CONTAINER BEGINS --}}
	<div class="nav-content">

		{{!-- NAV LOGO BEGINS --}}
		<div class="nav-logo"><a href="/search"><img src="/images/orange-logo.png" style="height: 100%"></a></div>
		{{!-- END OF NAV LOGO --}}

		{{!-- NAV SEARCH BAR BEGINS --}}
		<div class="nav-search">
			<form action="/search" method="POST">
				<input type="text" id="search" name="q" autocomplete="off">
				<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
		</div>
		{{!-- END OF NAV SEARCH BAR --}}
		
		{{!-- NAV LINKS BEGIN --}}
		<div class="nav-links">

			{{!-- PROFILE PHOTO/DISPLAY NAME BEGINS --}}
			{{#with currentUser}}

			{{!-- IF A PROFILE PHOTO HAS BEEN CHOSEN, SHOW WITH NAME, ELSE... --}}
			{{#if imgPath}}
			<div class="nav-user">

				<a href="/{{role}}Profile"><img src="{{imgPath}}" style="margin: 0; height: 28px; width: 28px; border-radius: 50%;"></a>

				{{!-- IF A DISPLAY NAME HAS BEEN CHOSEN, SHOW, ELSE SHOW USERNAME --}}
				{{#if artisticName}}
					<a href="/{{role}}Profile">{{artisticName}}</a>
				{{else}}
					<a href="/{{role}}Profile">{{username}}</a>
				{{/if}}

			</div>

			{{!-- ...IF NO PROFILE PHOTO HAS BEEN CHOSEN, SHOW DEFAULT PHOTO, WITH NAME --}}
			{{else}}
			<div class="nav-user">

				<a href="/{{role}}Profile"><img src="/images/default-user-photo.png" style="margin: 0; height: 28px; width: 28px; border-radius: 50%;"></a>

				{{!-- IF A DISPLAY NAME HAS BEEN CHOSEN, SHOW, ELSE SHOW USERNAME --}}
				{{#if artisticName}}
					<a href="/{{role}}Profile">{{artisticName}}</a>
				{{else}}
					<a href="/{{role}}Profile">{{username}}</a>
				{{/if}}

			</div>
			{{/if}}
			
			{{/with}}
			{{!-- END OF PROFILE PHOTO/DISPLAY NAME --}}

			{{!-- NAV ICONS BEGIN --}}
			<div class="nav-icons">
				<button id="toggle-theme" class="nav-icon" alt="Toggle Theme"><i class="fas fa-adjust"></i></button>
        <a href="/logout" class="nav-icon" alt="Log Out"><i class="fas fa-sign-out-alt"></i></a>
			</div>
			{{!-- END OF NAV ICONS --}}

		</div>
		{{!-- END OF NAV LINKS --}}

	</div>
	{{!-- END OF NAV CONTAINER --}}

</nav>
{{!-- END OF NAV --}}

{{!-- MAIN BLOCK BEGINS // Labeled secondary block for profile/sample details pages --}}
<div class="secondary-block">

	{{!-- HEADER BEGINS --}}
	{{#with trackDetails}}
	<div class="sample-header">
		​
		{{!-- COVER ART BEGINS --}}
		<div class="cover">
			{{#if imgPath}}
				<img src="{{imgPath}}">
			{{/if}}
		</div>
		{{!-- END OF COVER AER --}}
		​
	</div>
	{{/with}}
	{{!-- END OF HEADER --}}

	{{!-- MAIN SAMPLE DETAILS BLOCK BEGINS --}}
	<div class="profile">

		{{!-- SAMPLE DETAILS NAVIGATION BEGINS --}}
		<div class="sample-nav">
			<button class="clear-button">&nbsp;<i class="fas fa-heart"></i>&nbsp;&nbsp;Like</button>
			<button class="clear-button">&nbsp;<i class="far fa-bookmark"></i>&nbsp;&nbsp;Save</button>
			<button class="clear-button">&nbsp;<i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Purchase</button>
		</div>
		{{!-- END OF SAMPLE DETAILS NAVIGATION --}}

		{{!-- SAMPLE CONTENT CONTAINER BEGINS --}}
		<div class="profile-content">

			{{!-- SAMPLE CONTENT AREA BEGINS --}}
			<div class="profile-media" style="padding-right: 20px;">

				{{#with trackDetails}}

				{{!-- BEGIN SAMPLE OVERVIEW --}}
				<div class="sample-details">
					<div class="user">

						{{!-- IF PROFILE PHOTO HAS BEEN CHOSEN, SHOW WITH DISPLAY NAME, ELSE SHOW DEFAULT PHOTO WITH NAME --}}
						{{#if owner.imgPath}}
							<a href="/profileDetails/{{owner._id}}"><img src="{{owner.imgPath}}" style="margin: 20px 0; padding: 0; width: 150px; height: 150px; border-radius: 50%;"></a>
							<div class="sample-username"><a href="/profileDetails/{{owner._id}}">{{owner.artisticName}}</a></div>
						{{else}}
							<div class="photo"></div>
							<div><a href="/profileDetails/{{owner._id}}">{{owner.artisticName}}</a></div>
						{{/if}}
					</div>

					{{!-- IF A BIO HAS BEEN ADDED, SHOW, ELSE LEAVE BLANK --}}
					{{#if description}}
						<div class="description">
							{{description}}
						</div>
					{{else}}
					{{/if}}

				</div>
				{{!-- END OF SAMPLE OVERVIEW --}}

				{{!-- BEGIN SAMPLE AREA --}}
				<div class="sample-track">
					<div class="container">
						<h3>{{title}}</h3>
						<figure>
							<audio controls src="{{filePath}}">
								Your browser does not support the
								<code>audio</code> element.
							</audio>
						</figure>
					</div>
				</div>
				{{!-- END OF SAMPLE AREA --}}

				{{/with}}

			</div>
			{{!-- END OF SAMPLE CONTENT AREA --}}


			{{!-- SIDE FOOTER BEGINS --}}
			<div class="footer">

				<div class="footer-links">
					<a href="#">Legal</a>&nbsp;-
					<a href="#">Privacy</a>&nbsp;-
					<a href="#">Cookie Policy</a>&nbsp;-
					<a href="#">Cookie Manager</a>&nbsp;-
					<a href="#">Imprint</a>&nbsp;-
					<a href="#">Creator Resources</a>&nbsp;-
					<a href="#">Blog</a>&nbsp;-
					<a href="#">Charts</a>&nbsp;-
					<a href="#">Popular searches</a>
				</div>

				<div class="footer-language">
					<span style="color:#4988D7">Language:</span> English (UK)
				</div>
				
			</div>
			{{!-- END OF SIDE FOOTER --}}
			
		</div>
		{{!-- END OF SAMPLE CONTENT CONTAINER --}}

	</div>
	{{!-- END OF MAIN SAMPLE DETAILS BLOCK --}}

</div>
{{!-- END OF MAIN BLOCK --}}