{{!-- NAV BEGINS --}}
<nav>

	{{!-- NAV CONTAINER BEGINS --}}
	<div class="nav-content">

		{{!-- NAV LOGO BEGINS --}}
		<div class="nav-logo"><a href="/search"><img src="/images/orange-logo.png" style="height: 100%"></a></div>
		{{!-- END OF NAV LOGO --}}

		{{!-- NAV SEARCH BAR BEGINS --}}
		<div class="nav-search">
			<form action="/search" method="POST">
				<input type="text" id="search" name="q" autocomplete="off">
				<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
		</div>
		{{!-- END OF NAV SEARCH BAR --}}

		{{!-- NAV LINKS BEGIN // Profile photo/display name are removed --}}
		<div class="reduced-nav-links">
			<div class="nav-icons">
				<button id="toggle-theme" class="nav-icon" alt="Toggle Theme"><i class="fas fa-adjust"></i></button>
				<a href="/logout" class="nav-icon" alt="Log Out"><i class="fas fa-sign-out-alt"></i></a>
			</div>
		</div>
		{{!-- END OF NAV LINKS --}}

	</div>
	{{!-- END OF NAV CONTAINER --}}

</nav>
{{!-- END OF NAV --}}

{{!-- MAIN BLOCK BEGINS // Labeled secondary block for profile/sample details pages --}}
<div class="secondary-block">

	<div class="edit-title">Edit Sample</div>

	{{#with trackDetails}}

	{{!-- EDIT SAMPLE FORM BEGINS --}}
	<form action="/editSample/{{_id}}" method="POST" enctype="multipart/form-data">

		<div class="edit-sample">

			<div class="cover">
				<img src="{{imgPath}}">
				<label for="cover"></label>
				<input type="file" name="cover" id="cover" style="color: transperant; margin: 20px; width: 90px;">
			</div>

			<div class="info">
				<label for="artisticName">Title:</label>
				<input type="text" name="title" id="title" value="{{title}}" autocomplete="off">

				<label for="description">Description:</label>
				<textarea name="description" id="description" autocomplete="off">{{description}}</textarea>
				{{!-- <input type="text" name="description" id="description" value="{{description}}" autocomplete="off"> --}}

				<div class="modal-save"><button type="submit">Save</button></div>
			</div>
			
		</div>

	</form>
	{{!-- END OF EDIT SAMPLE FORM --}}

	{{/with}}

</div>
{{!-- END OF MAIN BLOCK --}}