{{#with singerDetails}}
{{!-- NAV BEGINS --}}
<nav>
  <div class="nav-content">
    <a href="#"><img src="/images/orange-logo.png" style="height: 100%"></a>
  </div>
</nav>
{{!-- END OF NAV --}}

<div class="main-block">
    {{!-- HEADER BEGINS --}}
    <div class="header">

        <div class="header-photo-area">
        {{#if imgPath}}
            <img src="{{imgPath}}" style="margin-top: 44px; padding: 0; width: 200px; height: 200px; border-radius: 50%;">
        {{else}}
            <div class="header-photo-circle"></div>
        {{/if}}
        </div>

        <div class="header-labels">
        {{#if artisticName}}
            <div class="h1-profile">{{artisticName}}</div>
        {{else}}
            <div class="h1-profile">{{username}}</div>
        {{/if}}
        
        <div class="h2-profile">Location</div>
        </div>

    </div>
    {{!-- END OF HEADER --}}

    {{!-- MAIN PROFILE BLOCK BEGINS --}}
    <div class="main-profile-block">

        {{!-- PROFILE CONTENT BEGINS --}}
        <div class="profile-content">

            {{!-- PROFILE NAV BEGINS --}}
            <div class="profile-nav">
                <div class="profile-nav-links">
                    <ul>
                        <li><a href="#"></a>All</li>
                        <li><a href="#"></a>Popular Tracks</li>
                        <li><a href="#"></a>Tracks</li>
                        <li><a href="#"></a>Album</li>
                        <li><a href="#"></a>Playlists</li>
                        <li><a href="#"></a>Reposts</li>
                        <li><a href="#"></a>Samples</li>
                    </ul>
                </div>
            </div>
            {{!-- END OF PROFILE NAV --}}

            {{!-- PROFILE BODY BEGINS --}}
            <div class="profile-body">
                {{!-- PROFILE MEDIA BEGINS --}}
                <div class="profile-media">
                    
                </div>
                {{!-- END OF PROFILE MEDIA --}}

                {{!-- SIDE FOOTER BEGINS --}}
                <div class="footer" style="padding-top: 20px">
                    {{!-- <div class="search-spacer"></div> <!--fix to align with nav--> --}}
                    {{!-- <div class="footer-app-container"></div> <!-- Create new divider for this purpose--> --}}
                    <div class="footer-links">
                        <a href="#">Legal - </a>
                        <a href="#">Privacy - </a>
                        <a href="#">Cookie Policy - </a>
                        <a href="#">Cookie Manager - </a>
                        <a href="#">Imprint - </a>
                        <a href="#">Creator Resources - </a>
                        <a href="#">Blog - </a>
                        <a href="#">Charts - </a>
                        <a href="#">Popular searches </a>
                    </div>
                    <div class="footer-language">
                        Language: English
                    </div>
                </div>
                {{!-- END OF SIDE FOOTER --}}

            </div>
            {{!-- END OF PROFILE BODY --}}

        </div>
        {{!-- END OF PROFILE CONTENT --}}

    </div>
    {{!-- END OF MAIN PROFILE BLOCK --}}

    <button style="margin: 0; position: absolute; top: 10px; right: 10px;" id="toggle-theme">Toggle Theme</button>

</div>
{{/with}}
